// Bootstrap overrides for this template
.bg-primary {
    background: $theme-primary;
    background: -webkit-linear-gradient($theme-primary, darken($theme-primary, 5%));
    background: linear-gradient($theme-primary, darken($theme-primary, 5%));
}

.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.btn-outline {
    color: white;
    border: 2.6px solid;
    border-color: white;
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: white;
        border-color: $theme-primary;
        background-color: $theme-primary;
    }
}

.btn {
    border-radius: 280px;
    @include alt-font;
}

.btn-xl {
    font-size: 11px;
    padding: 37px 80px;
}

.text-muted {
    color: #090a0a !important;
}

.ml4 {
    position: relative;
    font-weight: 700;
    font-size: 1.92em;
}
.ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.45em;
    right: 0;
    opacity: 0;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}